@import (less) "../lib/kendo-ui/styles/kendo.common.css";
@import (less) "../lib/kendo-ui/styles/kendo.default.css";
@import (less) "../lib/wingspan-forms/wingspan-forms.css";
@import (less) "../lib/react-json-editor/react-json-editor.css";

body {
  overflow: scroll
}

.App {
  padding: 10px;
  background-color: #aaa;


  .Track {
    vertical-align: top;
    border: 2px solid;
    background-color: #ccc;
    padding: 10px;
  }
}